.App {
  margin: auto;
  width: 50%;
}

.search input{
  border-radius: 0.5em;
  border: 0;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0.6em 0.4em;
  width: 50%;
}

.search input:focus{
  outline: none;
}

.users{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}